<ion-view view-title="Purchase Detail" align-title="center">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button>
    </ion-nav-buttons>


    <ion-content class="padding" ng-init="GetCars()">




        <form name="authorizationForm" novalidate="" ng-submit="PurchaseFunction(authorizationForm)">
            <div class="list">
                <!--modal LABEL AND TEXTBOX-->
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Manufacturer
                        </div>
                        <select ng-change="GetModel('hello')" ng-model="Purchase.Car">
                            <option value="{{car.Id}}" ng-repeat="car in Cars">{{car.val}}</option>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Model
                        </div>
                        <select ng-model="Purchase.CarModel">
                            <option value="{{car.Id}}" ng-repeat="car in CarModel">{{car.val}}</option>
                        </select>
                    </label>
                </div>


                <div class="list">

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Engine Type
                        </div>
                        <select ng-model="Purchase.EngineType">
                            <option>Diesel</option>
                            <option selected>Petrol</option>
                            <option>CNG</option>
                        </select>
                    </label>
                    <div class="item range range-positive">
                        <i class="icon ion-ios-sunny-outline"></i>
                        <input ng-model="Purchase.Price" type="range" name="volume" min="10000" max="500000" value="33">
                        <i class="icon ion-ios-sunny"></i>
                    </div>

                    <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.price.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.price.$valid && authorizationForm.$submitted}">

                        Below : Rs-/- &nbsp;<input placeholder="Vehicle Price" type="text" name="price" ng-model="Purchase.Price" ng-minlength="5" ng-maxlength="10" required>
                    </label>
                    <div class="error-container" ng-show="authorizationForm.price.$error && authorizationForm.$submitted" ng-messages="authorizationForm.price.$error">
                        <div class="error" ng-message="required">
                            <i class="ion-information-circled"></i>
                            This field is required!
                        </div>
                        <div class="error" ng-message="minlength">
                            <i class="ion-information-circled"></i>
                            Minimum length of this field is 5 characters!
                        </div>
                        <div class="error" ng-message="maxlength">
                            <i class="ion-information-circled"></i>
                            Maximum length of this field is 10 characters!
                        </div>
                    </div>
                </div>

            </div>



            <label class="item item-input item-select">
                <div class="input-label">
                  Place From:
                </div>
                <select  ng-model="Purchase.PlaceFrom">
                    <option value="{{place.Id}}" ng-repeat="place in Place">{{place.val}}</option>
               </select>
            </label>

            <!--<label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.PlaceFrom.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.PlaceFrom.$valid && authorizationForm.$submitted}">

                <input type="text" name="PlaceFrom" ng-model="Purchase.PlaceFrom" ng-minlength="5" ng-maxlength="200" required placeholder="Place From">
            </label>
            <div class="error-container" ng-show="authorizationForm.PlaceFrom.$error && authorizationForm.$submitted" ng-messages="authorizationForm.PlaceFrom.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i>
                    This field is required!
                </div>
                <div class="error" ng-message="minlength">
                    <i class="ion-information-circled"></i>
                    Minimum length of this field is 5 characters!
                </div>
                <div class="error" ng-message="maxlength">
                    <i class="ion-information-circled"></i>
                    Maximum length of this field is 200 characters!
                </div>
                <div class="error" ng-message="vehiclemanufecturer">
                    <i class="ion-information-circled"></i>
                    Your email address is invalid
                </div>
            </div>-->
            <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.Remark.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.Remark.$valid && authorizationForm.$submitted}">

                <input type="text" name="Remark" ng-model="Purchase.Remark" ng-minlength="2" ng-maxlength="200" required placeholder="Remark">
            </label>
            <div class="error-container" ng-show="authorizationForm.Remark.$error && authorizationForm.$submitted" ng-messages="authorizationForm.Remark.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i>
                    This field is required!
                </div>
                <div class="error" ng-message="minlength">
                    <i class="ion-information-circled"></i>
                    Minimum length of this field is 2 characters!
                </div>
                <div class="error" ng-message="maxlength">
                    <i class="ion-information-circled"></i>
                    Maximum length of this field is 200 characters!
                </div>
                <div class="error" ng-message="vehiclemanufecturer">
                    <i class="ion-information-circled"></i>
                    Your email address is invalid
                </div>
            </div>


            <ion-checkbox required name="isChecked" ng-model="isChecked">I agree to the Terms & Conditions</ion-checkbox>
            <div class="error-container last-error-container" ng-show="authorizationForm.isChecked.$error && authorizationForm.$submitted" ng-messages="authorizationForm.isChecked.$error">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i>
                    This field is required!
                </div>
            </div>

            <button name="submit" class="button button-block button-energized" type="submit">
                Save Detail
            </button>

        </form>
        <div >
            <div class="list">
                <div class="row">
                    <div class="col col-10">

                    </div>

                    <div class="col col-80">
                        <a href="#/app/exchange" class="button button-block button-assertive">
                            <i class="icon ion-android-car"></i>
                            You Can Also Exchange Vehicle
                        </a>
                    </div>
                    <div class="col col-10">

                    </div>
                </div>
            </div>
        </div>
    </ion-content>



</ion-view>
<style>
    #login-content {
        background: #41B1C8;
    }
</style>
