<ion-view view-title=" About You">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button><!--<span class="badge badge-assertive">0</span>-->
    </ion-nav-buttons>
			<ion-content class="padding">
            <!-- <div class="navbar navbar-app navbar-absolute-top">
                <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
                    About Yourself
                </div>
                <div ng-include="'icons1.html'"></div>
            </div> -->
           <!--  <div class="scrollable" ng-controller="ProfileController"> -->
               <!--  <div class="scrollable-header">
                </div> -->
                <div class="scrollable-content" >
                    <div class="list-group">
                        <div class="list-group-item"  style="border-bottom:none;">
                            <!--<div style="margin-bottom:3%;">
                                <img src="img/profile.png" class="img-responsive" style="height:30%;width:30%; margin: 0 auto;">
                            </div>-->
                            <!-- <div> -->
                                <form name="authorizationForm" novalidate="" ng-submit="profile1(authorizationForm)">
                                    <div class="list">
                                        <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.city.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.city.$valid && authorizationForm.$submitted}">
                                            
                                            <input id="city" name="city" type="text" ng-model="UserValue.City"  placeholder="City"  ng-minlength="5" ng-maxlength="20" required>
                                        </label>
                                                  <div class="error-container" ng-show="authorizationForm.city.$error && authorizationForm.$submitted" ng-messages="authorizationForm.city.$error">
                                                    <div class="error" ng-message="required">
                                                        <i class="ion-information-circled"></i> 
                                                        This field is required!
                                                    </div>
                                                    <div class="error" ng-message="minlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Minimum length of this field is 5 characters!
                                                    </div>
                                                    <div class="error" ng-message="maxlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Maximum length of this field is 20 characters!
                                                    </div>
                                            </div>
										
										

										  <label class="item item-input item-select" ng-class="{ 'has-errors' : authorizationForm.myselect.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.myselect.$valid && authorizationForm.$submitted}">
                                              <span class="input-label">State</span>
										
											<select id="select" class="required" ng-model="UserValue.State" name="myselect"  ng-minlength="5" ng-maxlength="20" required>
											  <option>Alabama</option> 
                                                    <option>Alaska </option>
                                                    <option>Arizona </option>
                                                    <option>Arkansas </option>
                                                    <option>California </option>
                                                    <option>Colorado </option>
                                                    <option>Connecticut </option>
                                                    <option>Delaware </option>
                                                    <option>Florida </option>
                                                    <option>Georgia </option>
                                                    <option>Hawaii </option>
                                                    <option>Idaho </option>
                                                    <option>Illinois Indiana </option>
                                                    <option>Iowa </option>
                                                    <option>Kansas </option>
                                                    <option>Kentucky </option>
                                                    <option>Louisiana </option>
                                                    <option>Maine </option>
                                                    <option>Maryland </option>
                                                    <option>Massachusetts </option>
                                                    <option>Michigan </option>
                                                    <option>Minnesota </option>
                                                    <option>Mississippi </option>
                                                    <option>Missouri </option>
                                                    <option>Montana Nebraska</option> 
                                                    <option>Nevada </option>
                                                    <option>New Hampshire </option>
                                                    <option>New Jersey </option>
                                                    <option>New Mexico </option>
                                                    <option>New York </option>
                                                    <option>North Carolina </option>
                                                    <option>North Dakota </option>
                                                    <option>Ohio </option>
                                                    <option>Oklahoma </option>
                                                    <option>Oregon </option>
                                                    <option>Pennsylvania Rhode Island </option>
                                                    <option>South Carolina </option>
                                                    <option>South Dakota </option>
                                                    <option>Tennessee </option>
                                                    <option>Texas </option>
                                                    <option>Utah </option>
                                                    <option>Vermont </option>
                                                    <option>Virginia </option>
                                                    <option>Washington </option>
                                                    <option>West Virginia </option>
                                                    <option>Wisconsin </option>
                                                    <option>Wyoming</option>



											</select>
										  </label>
                                              <div class="error-container" ng-show="authorizationForm.myselect.$error && authorizationForm.$submitted" ng-messages="authorizationForm.myselect.$error">
                                                    <div class="error" ng-message="required">
                                                        <i class="ion-information-circled"></i> 
                                                        This field is required!
                                                    </div>
                                                    <div class="error" ng-message="minlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Minimum length of this field is 5 characters!
                                                    </div>
                                                    <div class="error" ng-message="maxlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Maximum length of this field is 20 characters!
                                                    </div>
                                            </div>

									
										
										
                                   
                                        
                                        <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.zipcode.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.zipcode.$valid && authorizationForm.$submitted}">
                                           
                                            <input id="zipcode" name="zipcode" type="number"  ng-model="UserValue.ZipCode"  placeholder="ZipCode"  required>
                                        </label>    
                                                 <div class="error-container" ng-show="authorizationForm.zipcode.$error && authorizationForm.$submitted" ng-messages="authorizationForm.zipcode.$error">
                                                    <div class="error" ng-message="required">
                                                        <i class="ion-information-circled"></i> 
                                                        This field is required!
                                                    </div>
                                                    <div class="error" ng-message="minlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Minimum length of this field is 0 digits!
                                                    </div>
                                                    <div class="error" ng-message="maxlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Maximum length of this field is 5 digits!
                                                    </div>
                                            </div>
                                        
                                        
                                        
                                         <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.phonenumber.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.phonenumber.$valid && authorizationForm.$submitted}">
                                        
                                            <input id="phonenumber" name="phonenumber" type="number" ng-model="UserValue.PhoneNumber" placeholder="Phone Number"   required >
                                         </label>
                                          <div class="error-container" ng-show="authorizationForm.phonenumber.$error && authorizationForm.$submitted" ng-messages="authorizationForm.phonenumber.$error">
                                                    <div class="error" ng-message="required">
                                                        <i class="ion-information-circled"></i> 
                                                        This field is required!
                                                    </div>
                                                    <div class="error" ng-message="minlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Minimum length of this field is 10 digits!
                                                    </div>
                                                    <div class="error" ng-message="maxlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Maximum length of this field is 10 digits!
                                                    </div>
                                            </div>
                                       
                                    </div>
                                    <br>
								 <button name="submit" class="button button-block button-stable pull-right" type="submit">
    Next
  </button>	
			            </form>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
               
           <!--  </div> -->
</ion-content>
  
<!--	<div class="tabs tabs-icon-top">
		<a ui-sref="app.signin" class="tab-item">
			<i class="icon ion-person-stalker"></i>
				 Login
				</a>
		<!--  <a class="tab-item">
			<i class="icon ion-android-contact"></i>
				Profile
			</a>  
		<a href="#/app/register" class="tab-item">
			<i class="icon ion-android-contact"></i>
			Register
		</a>
	</div>-->

</ion-view>
<style>
    .abs {
        position: relative;
    }

        .abs span.badge {
            position: absolute;
            top: -1.5em;
            right: .5em;
            background-color: #a00;
        }


        .abs span.badge1 {
            position: absolute;
            top: 0.1em;
            right: -0.5em;
            background-color: #a00;
        }

    .badge1 {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        line-height: 1;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        background-color: #777;
        border-radius: 10px;
    }
</style>
