<ion-view view-title=" About You">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear ion-navicon"></button><!--<span class="badge badge-assertive">0</span>-->
    </ion-nav-buttons>
			<ion-content class="padding">
<!-- <div class="navbar navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center" ui-yield-to="title">
        About Yourself
    </div>
    <div ng-include="'icons1.html'"></div>
</div>
<div class="scrollable" ng-controller="ProfileController">
    <div class="scrollable-header">
    </div>
    <div class="scrollable-content" >
        <div class="list-group">
            <div class="list-group-item" style="border-bottom:none;">
                <div> -->
                    <form name="authorizationForm" novalidate="" ng-submit="profile4(authorizationForm)">
                        <div class="list">

                             <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.communities.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.communities.$valid && authorizationForm.$submitted}">
                                <!--<label>Email</label>-->
                                <textarea class="form-control" name="communities" ng-model="UserValue.Communities_Association" rows="1" cols="90" wrap="off" placeholder="Communities"  ng-minlength="30" ng-maxlength="200" required></textarea>
                           </label>
                                  <div class="error-container" ng-show="authorizationForm.communities.$error && authorizationForm.$submitted" ng-messages="authorizationForm.communities.$error">
                                                    <div class="error" ng-message="required">
                                                        <i class="ion-information-circled"></i> 
                                                        This field is required!
                                                    </div>
                                                    <div class="error" ng-message="minlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Minimum length of this field is 30 characters!
                                                    </div>
                                                    <div class="error" ng-message="maxlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Maximum length of this field is 200 characters!
                                                    </div>
                                            </div>

                              <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.hobbies.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.hobbies.$valid && authorizationForm.$submitted}">
                                <!--<label>Email</label>-->
                                <textarea class="form-control" name="hobbies" ng-model="UserValue.Hobbies" rows="1" cols="90" wrap="off" placeholder="Hobbies & Interests"  ng-minlength="30" ng-maxlength="200" required></textarea>
                          </label>
                                  <div class="error-container" ng-show="authorizationForm.hobbies.$error && authorizationForm.$submitted" ng-messages="authorizationForm.hobbies.$error">
                                                    <div class="error" ng-message="required">
                                                        <i class="ion-information-circled"></i> 
                                                        This field is required!
                                                    </div>
                                                    <div class="error" ng-message="minlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Minimum length of this field is 30 characters!
                                                    </div>
                                                    <div class="error" ng-message="maxlength">
                                                        <i class="ion-information-circled"></i> 
                                                        Maximum length of this field is 200 characters!
                                                    </div>
                                            </div>
                        
<!--
                        <div class="btn-group pull-left">
                            <button type="button" onclick="window.history.back()" class="button button-block">
                                Back
                            </button>
                        </div>
                        <div class="btn-group pull-right">

                            <button type="submit" class="button button-block" ng-click="">
                                        Finish
                                    </button>
                                    </div>-->
                                    
                        </div>
                                    <br>
                                    
                                    <!--<a class="button button-halfwidth" onclick="window.history.back()" nav-clear ui-sref="fst.home">Back</a>-->
                                     <!--<a class="button button-halfwidth pull-right" nav-clear ui-sref="#">Finish</a>-->
                                     <button name="submit" class="button button-block button-stable pull-right" type="submit"> Finish</button>
  	
                                    
                                </form>
                          <!--   </div>
                        </div>
                    </div>
                </div>
            
            </div> -->
			
			</ion-content>
  
	<!--<div class="tabs tabs-icon-top">
		<a ui-sref="app.signin" class="tab-item">
			<i class="icon ion-person-stalker"></i>
				 Login
				</a>-->
		<!--  <a class="tab-item">
			<i class="icon ion-android-contact"></i>
				Profile
			</a>  -->
		<!--<a href="#/app/register" class="tab-item">
			<i class="icon ion-android-contact"></i>
			Register
		</a>-->
	</div>

</ion-view>
<style>
   .abs {
    position: relative;
}

.abs span.badge {
    position: absolute;
       top: -1.5em;
    right: .5em;
    background-color: #a00;
}

 
.abs span.badge1 {
    position: absolute;
           top: 0.1em;
    right: -0.5em;
    background-color: #a00;
}
 
 .badge1 {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #777;
    border-radius: 10px;
}
      </style>