<ion-view view-title="Signin" align-title="center">
   <!-- <nav-page hide-back-button="true">-->
			<ion-content class="padding">

		  
		  <form name="authorizationForm" novalidate="" ng-submit="signIn(authorizationForm)">
 
  <!--<div class="list">
 
    <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.username.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.username.$valid && authorizationForm.$submitted}">
     
      <input type="text" name="username" ng-model="User.UserName" ng-minlength="5" ng-maxlength="20" required placeholder="UserName">
    </label>
  <div class="error-container" ng-show="authorizationForm.username.$error && authorizationForm.$submitted" ng-messages="authorizationForm.username.$error">
              <div class="error" ng-message="required">
                <i class="ion-information-circled"></i> 
                This field is required!
            </div>
            <div class="error" ng-message="minlength">
                <i class="ion-information-circled"></i> 
                Minimum length of this field is 5 characters!
            </div>
            <div class="error" ng-message="maxlength">
                <i class="ion-information-circled"></i> 
                Maximum length of this field is 20 characters!
            </div>
    </div>-->


          <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.MobileNo.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.MobileNo.$valid && authorizationForm.$submitted}">
               <input type="text" name="MobileNo" ng-model="User.MobileNo" ng-minlength="5" ng-maxlength="20" required placeholder="MobileNo">
          </label>
          <div class="error-container" ng-show="authorizationForm.MobileNo.$error && authorizationForm.$submitted" ng-messages="authorizationForm.MobileNo.$error">
              <div class="error" ng-message="required">
                  <i class="ion-information-circled"></i>
                  This field is required!
              </div>
              <div class="error" ng-message="minlength">
                  <i class="ion-information-circled"></i>
                  Minimum length of this field is 5 characters!
              </div>
              <div class="error" ng-message="maxlength">
                  <i class="ion-information-circled"></i>
                  Maximum length of this field is 20 characters!
              </div>
          </div>
   
 
    <label class="item item-input" ng-class="{ 'has-errors' : authorizationForm.password.$invalid  && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
      
      <input type="password" name="password" ng-model="User.Password" ng-minlength="8" ng-maxlength="20" required placeholder="Password">
    </label>
 
    <div class="error-container last-error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
       <div class="error" ng-message="required">
                <i class="ion-information-circled"></i> 
                This field is required!
            </div>
            <div class="error" ng-message="minlength">
                <i class="ion-information-circled"></i> 
                Minimum length of this field is 8 characters!
            </div>
    </div>
 
  </div>
 
  <button name="submit" class="button button-block button-stable" type="submit">
    Sign In
  </button>
 
</form>
		
		<p style="text-align:center;">Forgot?<a style="text-decoration:none;color:white;font-weight:100;" href="#/app/forgetpass">
											Recover Here</a>
										</p>
             
 </ion-content>
  
	<div class="tabs tabs-icon-top">
		<a ui-sref="signin" class="tab-item">
			<i class="icon ion-log-in"></i>
				Login
				</a>
		<!-- <a class="tab-item">
			<i class="icon ion-star"></i>
				Favorites
			</a> -->
		<a href="#/register" class="tab-item">
			<i class="icon ion-ios-list-outline"></i>
			Register
		</a>
	</div>

</ion-view>

<!--<style>
    #login-content {
        background: #41B1C8;
    }
</style>-->
